security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
            logout:
                path: app_logout

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/logout, roles: PUBLIC_ACCESS }
        - { path: ^/location, roles: ROLE_USER }
        - { path: ^/measurement, roles: ROLE_USER }
        - { path: ^/, roles: ROLE_USER }

    role_hierarchy:
        ROLE_ADMIN:
            - ROLE_USER
            - ROLE_LOCATION_EDIT
            - ROLE_LOCATION_NEW
            - ROLE_LOCATION_DELETE
            - ROLE_LOCATION_SHOW
            - ROLE_LOCATION_INDEX
        ROLE_USER:
            - ROLE_LOCATION_INDEX
            - ROLE_LOCATION_SHOW


when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
